name: Mirror to Org Repo (RengeOS)

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push mirror to org repo (RengeOS)
        run: |
          git remote add org https://x-access-token:${{ secrets.ORG_REPO_TOKEN }}@github.com/RengeOS-Homepage-Wiki.git
          git push --mirror org

